<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="my-5"><strong>About</strong></h1>
      <div>
        <h4>
          HandMadeは手作りした作品を投稿できるサイトです。<br>
          作品を見てもらいたい方、せっかく作ったのに貰い手が見つからない方。<br>
          ご依頼を受けてみたい方、してみたい方も是非ご利用ください。<br>
          <br>
          当サイトはご依頼、質問、相談などお客様同士でお話をしていただけるサイトになっております。
        </h4>
      </div>
    </div>
  </div>
</div>